<!-- homi/templates/homi/base.html -->

{% load static %}
<html>
  <head>
    <title>Home Inventory</title>
    <link rel="stylesheet" href="{% static 'css/homi.css' %}" />
  </head>
  <body>
    <h1>Home Inventory</h1>
    <nav>
      <a href="/items">Items</a>
      <a href="/">Rooms</a>
      <div class="user-info">
        {% if user.is_authenticated %} Welcome, {{ user.username }}
        <a href="{% url 'logout' %}">Log out</a>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'signup' %}">Signup</a>
        {% endif %}
      </div>
    </nav>
    {% block content %} {% endblock %}
  </body>
</html>