<!-- homi/templates/homi/item_detail.html -->
{% extends 'homi/base.html' %} {% block content %}

<h2>{{ item.name }} <a href="{% url 'item_edit' pk=item.pk %}">(edit)</a><a href="{% url 'item_delete' pk=item.pk %}">DELETE</a></h2>

    <h3>Items <a href="{% url 'item_create' %}">(+)</a></h3>
        <ul>
            {% for item in room.items.all %}
        </ul>

        <li>
            <a href="{% url 'item_detail' pk=item.pk %}">{{ item.name }}</a>
        </li>

{% endfor %}
{% endblock %}




 





